/* fonts */

@font-face {
    font-family: 'Atlantis Famigo';
    src: url('../res/fnt/AtlantisFamingo.woff2') format('woff2');
    src: url('../res/fnt/AtlantisFamingo.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'Playwrite CZ';
    src: url('../res/fnt/PlaywriteCZ-Regular.woff2') format('woff2');
    src: url('../res/fnt/PlaywriteCZ-Regular.woff') format('woff');
}

/* general styles */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: inherit;
    background-color: transparent;
    text-wrap: wrap;
    text-decoration: none;
    list-style: none;
    border-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --darken: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    --btn-border: 4px solid #290a44;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#content {
    background-color: rgb(175, 212, 236);
    overflow: hidden;
}

.row {
    padding: 30px 15px;
    margin: 0 auto;
}

.row:not(.bg) {
    width: clamp(400px, 75vw, 800px);
}

.bg {
    width: 100vw;
    z-index: -1;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.block {
    border: 1px solid black;
    background-color: beige;
    box-shadow: rgba(0, 0, 0, 0.4) -8px -8px;
    margin: 20px auto;
}

.map::after {
    position: relative;
    top: 4px;
    left: 4px;
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url('../res/img/map-search-outline.svg') no-repeat center;
}

.icon {
    width: 36px;
    height: 36px;
}

.copywright {
    position: absolute;
    bottom: 0;
    right: 24px;
    text-shadow: black -1px 2px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-indent: 0;
}

.top {
    justify-content: flex-start;
    padding-top: 5rem;
}

.menu {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) -8px -8px;
    border: 1px solid black;
    padding: 25px 15px;
    margin: 20px auto;
}

.dish {
    margin: 15px;
}

.dish h6, li h6 {
    margin-left: 8px;
}

.inline * {
    display: inline;
}

h1 {
    font-family: 'Atlantis Famigo';
    font-size: 72px;
    font-weight: normal;
}

h2 {
    font-family: 'Gill Sans', 'Noto Sans', 'Open Sans';
    font-size: 48px;
    margin-bottom: 12px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 36px;
    margin-bottom: 8px;
}

h4 {
    font-family: 'Gill Sans', 'Noto Sans', 'Open Sans';
    font-size: 28px;
    text-indent: 12px;
}

h5 {
    display: inline;
    font-family: 'Perpetua', 'Noto Serif', 'Open Sans';
    font-size: 24px;
}

h6 {
    display: inline;
    font-family: 'Playwrite CZ';
    font-size: 18px;
    font-weight: normal;
}

h7 {
    font-family: 'Times New Roman';
    font-size: 18px;
    font-weight: normal;
}

p, button, em, li {
    font-family: 'Perpetua', 'Noto Serif', 'Open Sans';
    font-size: 24px;
    margin-bottom: 8px 0;
}

p {
    text-indent: 12px;
}

button {
    cursor: pointer;
    user-select: none;
}

em {
    display: inline;
    font-weight: bold;
}

ul {
    margin-left: 30px;
    --bullet-size: 22px;
}

li {
    text-indent: calc(-1 * var(--bullet-size) - 6px);
    padding-left: 6px;
    margin-top: 8px;
}

li::before {
    position: relative;
    top: 4px;
    content: '';
    display: inline-block;
    width: var(--bullet-size);
    height: var(--bullet-size);
    background: url('../res/img/fish.svg') no-repeat center;
    margin-right: 6px;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

hr {
  border-top: 2px solid rgb(131, 131, 131);
  height: 2px;
  width: 90%;
  margin: 18px auto;
}

/* header */

header, footer {
    height: 4rem;
    width: 100vw;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-image: url('../res/img/turbulent-ocean.avif');
    background-position: center;
    z-index: 1;
    color: white;
}

header nav, footer nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1;
}

header button {
    width: 7rem;
    height: 4rem;
    background-color: rgb(44, 116, 80);
    font-size: 24px;
    border-radius: 16px;
    padding: 12px 16px 32px;
    margin: 16px clamp(4px, 1vw, 24px) -16px;
}

header button:hover {
    background-color: rgb(50, 167, 106);
}

header button:active {
    background-color: rgb(52, 216, 134);
}

header button.tabbed {
    border: 4px solid black;
    padding: 8px 12px 28px;
}

footer {
    position: relative;
    height: 5rem;
    padding-top: 12px;
    text-align: right;
}

footer nav {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    width: min-content;
    margin: 0 auto;

}

footer nav * {
    white-space: nowrap;
    margin: 0 12px;
}

/* home tab */

#thumbnail  {
    height: 50rem;
    color: #fcfffc;
    text-shadow: #ffcc00 1px 0 10px;
    background-image: var(--darken), url('../res/img/salmon-salad.jpg');
}

#reservation {
    height: 50rem;
    color: #fcfffc;
    text-shadow: #e40098 1px 0 15px;
    background-image: var(--darken), url('../res/img/lobster.jpg');
}

#reservation button {
    font-size: 30px;
    font-weight: bold;
    background-color: #8800ff;
    border-top: var(--btn-border);
    border-left: var(--btn-border);
    border-radius: 32px;
    padding: 12px 32px;
    margin-top: 30px;
}

#reservation button:hover {
    background-color: #a33bff;
}

#reservation button:active {
    background-color: #b35dff;
}

/* menu tab */

#lunch {
    height: 15rem;
    color: #fcfffc;
    text-shadow: #e4af00 1px 0 15px;
    background-image: var(--darken), url('../res/img/calamari.jpg');
}

#dinner {
    height: 15rem;
    color: #fcfffc;
    text-shadow: #e44800 1px 0 15px;
    background-image: var(--darken), url('../res/img/rice-with-seafood.jpg');
}

#dessert {
    height: 15rem;
    color: #fcfffc;
    text-shadow: #e40098 1px 0 15px;
    background-image: var(--darken), url('../res/img/lava-cake.jpg');
}

#catering {
    height: 15rem;
    color: #fcfffc;
    text-shadow: #00e4be 1px 0 15px;
    background-image: var(--darken), url('../res/img/seafood-feast.jpg');
}
