/* fonts */

@font-face {
    font-family: 'Atlantis Famigo';
    src: url('../res/fnt/AtlantisFamingo.woff2') format('woff2');
    src: url('../res/fnt/AtlantisFamingo.woff') format('woff');
    font-weight: 100;
}

/* general styles */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: inherit;
    background-color: transparent;
    text-wrap: wrap;
    text-decoration: none;
    list-style: none;
    border-style: none;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#content {
    background-color: rgb(192, 252, 252);
    overflow: hidden;
}

.row {
    padding: 30px 10px;
    margin: 0 auto;
}

.row:not(.bg) {
    width: clamp(400px, 67vw, 800px);
}

.bg {
    width: 100vw;
    z-index: -1;
}

.block {
    border: 1px solid black;
    background-color: beige;
    box-shadow: rgba(0, 0, 0, 0.4) -8px -8px;
    margin: 20px auto;
}

h1 {
    font-family: 'Atlantis Famigo';
    font-size: 72px;
    font-weight: normal;
}

h2 {
    font-family: 'Gill Sans', 'Noto Sans', 'Open Sans';
    font-size: 48px;
    margin-bottom: 12px;
}

h3 {
    font-family: 'Noto Sans', 'Open Sans';
    font-size: 36px;
    margin-bottom: 8px;
}

h4 {
    font-family: 'Noto Serif', 'Open Sans';
    font-size: 24px;
    font-weight: normal;
}

p, button {
    font-family: 'Helvetica', 'Open Sans';
    font-size: 22px;
    margin-bottom: 8px;
}

p {
    text-indent: 20px;
}

em {
    font-family: inherit;
    font-weight: bold;
}

ul {
    margin-left: 30px;
    --bullet-size: 22px;
}

li {
    font-family: 'Helvetica', 'Open Sans';
    font-size: 24px;
    text-indent: calc(-1 * var(--bullet-size) - 6px);
    padding-left: 6px;
    margin: 6px 0;
}

li::before {
    position: relative;
    top: 4px;
    content: '';
    display: inline-block;
    width: var(--bullet-size);
    height: var(--bullet-size);
    background: url('../res/img/fish.svg') no-repeat center;
    margin-right: 6px;
}

/* header */

header, footer {
    height: 4rem;
    width: 100vw;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-image: url('../res/img/turbulent-ocean.avif');
    background-position: center;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1;
}

header button {
    width: 7rem;
    height: 4rem;
    color: white;
    background-color: rgb(44, 116, 80);
    font-size: 24px;
    border-radius: 16px;
    padding: 12px 16px 32px;
    margin: 16px clamp(4px, 1vw, 24px) -16px;
}

header button:hover {
    background-color: rgb(50, 167, 106);
}

header button:active {
    background-color: rgb(52, 216, 134);
}

header button.tabbed {
    border: 4px solid black;
    padding: 8px 12px 28px;
}

/* home tab */

#thumbnail  {
  height: 50rem;
  color: #fcfffc;
  text-shadow: #ffcc00 1px 0 10px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent),
              url('../res/img/salmon-salad.jpg') no-repeat center;
  background-size: cover;
}
